*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serfi;
    
    
}
body{
   background-color:rgb(35, 35, 36);
}
/* .address{
    width:100%;
    height:1950px;
    background-color:#323336;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
} */
.contact{
    font-family:consolas;
    width:90%;
    height:50px;
    display:flex;
    justify-content:space-between;
    margin:0 auto;
    color:#ffff;
    border-bottom:1px solid antiquewhite;
}
.contact .box1 span:nth-child(1){
    line-height:50px;
    /* margin-left:150px; */
}
.contact .box1 span:nth-child(2){
    margin-left:50px;
}

.contact .box1 span:nth-child(1) > i,
.contact .box1 span:nth-child(2) > i{
    color:rgb(192, 84, 84);
    padding-right:10px;
}
.contact .box2{
    display:flex;
    justify-content:center;
    align-items:center;

}

.contact .box2 ul{
    list-style-type:none;
    padding:0;
    /* margin-right:150px; */
    margin-left:20px;
    display:flex;
    gap:17px;
}
.contact .box2 ul li a{
    text-decoration:none;
    color:#fff;
    line-height:50px;
    font-size:20px;
    transition:all 0.3s ease-in;
}
.contact .box2 ul li a:hover{
    color:#face30;
}

/* navigator */
.navigation{
   margin-top:50px;
   
   /* display:flex;
   justify-content:center;
   align-items:center; */
}
.navigation h1{
    font-family:consolas;
    text-align:center;
    text-transform:uppercase;
    font-size:2em;
    color:#fff;
}
.navigation ul{
   
    list-style-type:none;
    margin-top:20px;;
    padding:0;
   
    display:flex;
    justify-content:center;

    gap:15px;
}
.navigation ul li{
    border-right:1px solid #fff;
    padding-right:10px;
    position:relative;
   
}
.navigation ul li a{
    font-family:consolas;
    text-decoration:none;
    color:#fff;
    font-size:1.5rem;
    transition:all 0.5s;
    
}
.navigation ul li::after{
    content:'';
    width:90%;
    height:3px;
    background-color:rgb(209, 124, 13);
    
    position:absolute;
    top:0;
    left:0;
    opacity:0;

    transition:all 0.3s;
}
.navigation ul li:hover::after{
    top:100%;
    opacity:1;
}
.navigation ul li a:hover{
    color:aquamarine;
}

/* .map_box */
.map_box{
    width:100%;
    height:650px;
    background-color:rgb(57, 60, 61);
    margin-top:50px;
}

.map_box .contact_box{
    width: 100%;
    height:200px;
    background-color:rgb(99, 34, 11);

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:70px;
}
.map_box .contact_box h1{
    font-family: 'Supermercado One', cursive;
    color:#ffff;
    font-size:3em;
    text-transform:uppercase;
    /* color:transparent; */
    margin:0;
    padding:0;
    position:relative;
    overflow:hidden;
    animation:animate 8s steps(8) infinite;
}
/* @keyframes animate{
    0%,90%,100%{
        width:0;
    }
    30%,50%{
        width:271.92px;
    }
} */
/* .map_box .contact_box h1::before{
    content:'';
    width:3px;
    height:90%;
    background-color:#fff;

    position:absolute;
    top:0;
    right:0;

    animation:typing 0.7s steps(3) infinite;
} */
/* @keyframes typing{
    0%,75%{
        opacity:0;
    }
    76%,100%{
        opacity:1;
    }
} */

.map_box .contact_box .loader{
    width:100px;
    height:100px;
    /* background-color:#fff; */
    border-radius:50%;
    border:10px solid #fff;
    border-top-color:transparent;
    border-bottom-color:transparent;
    animation:loade 1s linear infinite;
}
@keyframes loade{
    0%{
        transform:scale(1) rotate(0deg);
       
    }
    50%{
        transform: scale(1.3) rotate(320deg) ;
    }
    100%{
        transform: scale(1) rotate(-320deg);
    }
}

.map_box .contact_box ul{
    
    list-style-type:none;
    margin:0;
    padding:0;
    display:flex;
    gap:20px;
}
.map_box .contact_box ul li{
    font-family:sans-serif;
    color:#fff;
    font-size:20px;
}
.map_box .contact_box ul li a{
    font-family:sans-serif;
    text-decoration:none;
    color:#fff;
    font-size:20px;
    font-weight:700;
}
/* .middle-content */
.middle_content{
    width: 100%;
    height:900px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    position:relative;
}

.middle_content .contact_us{
    text-align:center;
    color:#fff;
}
.middle_content .contact_us h1{
    font-family:'Roboto',sans-serif;
    font-size:3em;
    font-weight:700;
    margin-bottom:40px;
    position:relative;
}
.middle_content .contact_us h1::before{
    content:'';
    width:50px;
    height:3px;
    background-color:rgba(245,44,44);

    position:absolute;
    bottom:-10px;
    left:50%;
    transform:translateX(-50%);
}
.middle_content .contact_us h1 span{
    font-family:'Roboto',sans-serif;
    color:rgb(245, 44, 44);
}

.middle_content .contact_us p{
    font-family:'Roboto',sans-serif;
    width:550px;
    font-size:18px;

}
.middle_content .contact_us h1::selection,
.middle_content .contact_us p::selection,
.middle_content .contact_us h1 span::selection{
    background-color:coral;
    color:#fff;
}
.middle_content .contact_form{
    width:1200px;
    height:500px;
    /* background-color:rosybrown; */
    margin-top:50px;
    display:flex;
    gap:40px;
}
.middle_content .contact_form .help_contact{
    width:400px;
    height:100%;
    /* background-color:salmon; */

    display:flex;
    flex-direction:column;
    gap:25px;

    margin:0;
}

.middle_content .contact_form .help_contact > div{
    width:100%;
    height:150px;
    background-color:rgba(2, 11, 41, 0.267);
}
.middle_content .contact_form .help_contact .help_contact_child{
    display:flex;
    justify-content:space-between;
    align-items:center;
    /* gap:40px; */
    padding:10px;
}
.middle_content .contact_form .help_contact .help_contact_child .div1{
    text-align:center;
}
.middle_content .contact_form .help_contact .help_contact_child .div1:nth-of-type(2){
    padding-right:10px;
}
.middle_content .contact_form .help_contact .help_contact_child .div1 img{
    width:50px;
    height:50px;
    margin-left:5px;
}
.middle_content .contact_form .help_contact .help_contact_child .div1 p{
    font-family:sans-serif;
    color:#fff;
    font-size:22px;
    font-weight:bold;
    text-transform:uppercase;
    margin-left:2px;
}
.middle_content .contact_form .help_contact .help_contact_child .div2{
   width:3px;
   height:80px;
   background-color:rgb(221, 48, 48);
}
.middle_content .contact_form .help_contact .help_contact_child .div3{
    width:200px;
}
.middle_content .contact_form .help_contact .help_contact_child .div3 p a,
.middle_content .contact_form .help_contact .help_contact_child .div3 p{
    font-family:'Roboto',sans-serif;
    text-decoration:none;
    color:#fff;
    font-size:20px;
    font-weight:500;
    line-height:170%;
    padding-right:10px;
}






.middle_content .contact_form .data_contact{
    width:800px;
    height:100%;
    /* background-color:skyblue; */
    position:relative;
}
.middle_content .contact_form .data_contact form .text{
    font-family:monospace;
    font-size:20px;
    color:#fff;
    display:block;
    margin-bottom:8px;
}
.middle_content .contact_form .data_contact form .form_control{
   font-family:sans-serif;
   width:780px;
   font-size:19px;
   color:#fff;
   padding:13px;
   margin-bottom:15px;
   border:0;
   outline:none;
   border-bottom:2px solid rgb(231, 33, 33);
   background-color:rgb(26, 26, 27);
}
.middle_content .contact_form .data_contact form .form_control:focus{
    border:2px solid #face30;;
    
}

.middle_content .contact_form .data_contact form input[type="checkbox"]{
    width:20px;
    height:20px;
    background-color:#000;
    accent-color: rgb(240, 46, 46);
    margin-right:10px;
    margin-top:20px;
}
.middle_content .contact_form .data_contact form .checking{
    font-family:'Roboto',sans-serif;
    color:#fff;
    font-size:17px;
}

.middle_content .comment_abs a{
    font-family:'Roboto',sans-serif;
    text-decoration:none;
    color:#fff;
    font-size:20px;
    background-color:rgb(243, 36, 36);
    padding:15px 35px;
    border-radius:4px;

    position:absolute;
    bottom:-70px;
    right:0;

    transition:all 0.3s ;
}

.middle_content .comment_abs a:hover{
    background-color:rgba(255,255,255,0.1);
    border:2px solid rgb(224, 34, 34);
}


/* footer_parent */
.footer_parent{
    width:100%;
    height:450px;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)), url('https://images.pexels.com/photos/7674497/pexels-photo-7674497.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size:cover;
    background-attachment:fixed;
    padding:0 80px;
    padding-top:60px;
}
.footer_parent .fitness_group{
    height:300px;
    border-bottom:1px solid rgb(13, 230, 13);
    display:grid;
    grid-template-columns:repeat(4 , 1fr);
    grid-gap:20px;
}

.footer_parent .fitness_group > div{
    height:200px;
    /* background-color:burlywood; */
}
.footer_parent .fitness_group .section1{
    color:rgb(14, 236, 81);
}
.footer_parent .fitness_group .section1 h1{
    font-family:"Roboto",sans-serif;
    font-size:30px;
    margin-bottom:20px;
    text-align:center;
    text-transform:uppercase;
}
.footer_parent .fitness_group .section1 p{
    font-family:"Roboto",sans-serif;
    color:#fff;
    width:250px;
    font-size:18px;
    margin-bottom:40px;
}
.footer_parent .fitness_group .section1 a{
  color:#fff;
  font-size:20px;
  padding:0 10px;
  transition:all 0.3s;
}
.footer_parent .fitness_group .section1 a:hover{
    transform:scale(1.2);
    color:rgb(21, 243, 21);
}
.footer_parent .fitness_group .section1 h1::selection,
.footer_parent .fitness_group .section1 p::selection
{
    background-color:coral;
    color:#fff;
}

.section2 h1,
.section3 h1,
.section4 h1{
    font-family:'Roboto',sans-serif;
    color:rgb(15, 245, 15);
    font-size:25px;
    text-transform:uppercase;
    margin-bottom:15px;
}
.section2 ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
.section2 ul li,
.section3 ul li{
    line-height:200%;
}
.section2 ul li a,
.section3 ul li a{
    font-family:'Roboto',sans-serif;
    text-decoration:none;
    color:#ffff;
    font-size:18px;
    transition:all 0.3s;
}
.section2 ul li a:hover,
.section3 ul li a:hover,
.section4 .blog_box .blog_abs_box p a:hover{
    color:rgba(15,245,15);
}

.section3 ul{
    font-family:'Roboto',sans-serif;
    list-style-type:none;
    margin:0;
    padding:0;
}
.section3 ul li i{
    margin-right:10px;
    color:#fff;
    font-size:18px;
}
.section4 .blog_box{
    display:flex;
    gap:5px;
}
.section4 .blog_box .blog_img_box{
    width:70px;
    height:70px; 
}
.section4 .blog_box .blog_img_box img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
    margin-bottom:15px;
}
.section4 .blog_box .blog_abs_box{
    width:180px;
}
.section4 .blog_box .blog_abs_box p{
    font-family:'Roboto',sans-serif;
    color:#fff;
    font-size:18px;
    margin-bottom:5px;
    line-height:140%;
}
.section4 .blog_box .blog_abs_box p a{
    font-family:'Roboto',sans-serif;
    text-decoration:none;
    color:#fff;
    font-size:18px;
    font-weight:bold;
    transition:all 0.3s;
}
.copyright{
    height:60px;
    display:flex;
    justify-content:space-between;
    
}
.copyright h1,
.copyright h1 span{
    font-family:'Roboto',sans-serif;
    font-size:20px;
    color:#fff;
    line-height:80px;
}

.copyright ul{
  list-style-type:none;
  display:flex;
  gap:25px;
  margin:0;
  padding:0;
}
.copyright ul li a{
    font-family:'Roboto',sans-serif;
    text-decoration:none;
    color:#fff;
    font-size:20px;
    line-height:80px;
    transition:all 0.3s;
}
.copyright ul li a:hover{
    color:rgb(238, 37, 37);
}

